/* Variables */
$nav-tabs-vert-link-active-border-color: $gray-300 transparent $gray-300 $gray-300;

$primaries: (
  "100": tint-color($primary, 80%),
  "200": tint-color($primary, 60%),
  "300": tint-color($primary, 40%),
  "400": tint-color($primary, 20%),
  "500": $primary,
  "600": shade-color($blue, 20%),
  "700": shade-color($blue, 40%),
  "800": shade-color($blue, 50%),
  "900": shade-color($blue, 80%)
) !default;

:root {
    @each $postfix, $value in $grays {
        --#{$variable-prefix}gray-#{$postfix}: #{$value};
    }
    @each $postfix, $value in $primaries {
        --#{$variable-prefix}primary-#{$postfix}: #{$value};
    }

    --bs-border-radius: $border-radius;
    --bs-border-radius-sm: $border-radius-sm;
    --bs-border-radius-lg: $border-radius-lg;
    --bs-border-radius-pill: $border-radius-pill;
}
/* Nav tabs */
.nav {
    &.nav-vertical{
        flex-direction: column;

        &.nav-tabs{
            border-bottom: none;
            border-inline-end: $nav-tabs-border-width solid $nav-tabs-border-color;

            >.nav-link{
                margin-bottom: 0;
                margin-inline-end: -$nav-tabs-border-width;
                @include border-top-radius(0);
                @include border-start-radius($nav-tabs-border-radius);

                &.active{
                    border-color: $nav-tabs-vert-link-active-border-color;
                }
                
            }
        }
    }
}
